*{
    margin: 0;
    padding: 0;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vh 0;
}

.chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 0;
}
.chapter p {
    width: 60%;
    margin: 2vh 0;
}
.chapter img {
    border-radius: 10%;
}




